{% extends 'base.html' %}
{% block content %}
    <div class="clearfix"></div>
    <div id="content">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-12 col-xl-10">
                    <div class="row has-sidebar">
                        <div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
                            <div id="sidebar" class="sidebar-left">
                                <div class="sidebar_inner">
                                    <div class="list-group no-border list-unstyled">
                                        <span class="list-group-item heading">Hesabı Yönet</span>
                                        <a href="{% url 'account_change_password' %}" class="list-group-item active"><i class="fa fa-fw fa-lock"></i>Şifre Değiştir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8 col-xl-8">

                            <div class="theiaStickySidebar" style="padding-top: 1px; padding-bottom: 1px; position: static; transform: none;">
                                <div class="page-header bordered">
                                    <h1>{% block sub_title %} {% endblock %}</h1>
                                </div>
                            </div>
                            {% block sub_content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
