{% extends 'user/base.html' %}

{% block static_contanier %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <style type="text/css">
        ul.interests li {
            display: inline-block;
            width: 24.5%;
        }

        ul.gender li {
            display: inline-block;
            width: 24.5%;
        }
    </style>


    <script>
        $(document).ready(function () {

            $(this).on('click', "#retrieve-edit-form", function (e) {
                e.preventDefault();
                var $this = $(this);
                var $url = $this.attr('edit-url');
                $.getJSON($url, null, function (data, status, jqXGR) {
                    $this.closest('#user_container').html(data.string_form);
                    $("#id_birthday").datetimepicker({
                        format: 'DD/MM/YYYY',
                        locale: "tr"
                    });
                })
            });


            $(this).on('click', "#user_update_cancel_button", function (e) {
                e.preventDefault();
                var $this = $(this);
                var $url = $this.attr('href');
                $.getJSON($url, null, function (data, status, jqXGR) {
                    $this.closest('#user_container').html(data.user_retrieve);
                })
            });


        })
    </script>
{% endblock %}


{% block sub_title %} Kişisel Bilgileri {% endblock %}


{% block sub_content %}
    <div id="user_container" class="font-weight-bold">
        {% include 'user/includes/retrieve.html' %}
    </div>
{% endblock %}